.banniere img{
display: none;
}
.disposition {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    }
.menu1{
    display: flex;
    flex-direction: row;
     margin: auto;
     gap: 50px;
   
}
.menu{
    padding: 80px;
    border-radius:180px 180px 180px 180px ;
    display : inline-block;
    background-color: rgb(254, 251, 246); 
    box-shadow: 10px 5px 50px rgb(201, 128, 57) ;
}
 .carte{
    font-family: 'Pacifico', cursive;
    background-color: rgb(254, 251, 246);
    background-size:100px ;
    display : inline-block;
    border-radius:180px 180px 180px 180px ;
    font-size:300%;
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 100px;
    
}

h2{
    font-family: 'Pacifico', cursive;
    text-align: center;

}

